@mixin flex-column($gap:0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}

main{
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container{
    height: fit-content;
    min-width: 300px;

    @include flex-column(1rem);

    form{

        @include flex-column(1rem);

        input{
            border: none;
            outline: none;
            padding-inline: 1.5rem;
            padding-block: 0.5rem;
            border-radius: 0.4rem;
        }
    }

    .toggleAuthForm{
        color: rgb(53, 96, 204);
        text-decoration: none;
        cursor:pointer;

    }
}